body { 
background-image: url('spider.jpg');
background-position: top right;
background-repeat: no-repeat;
background-attachment: fixed;
}
h1 {
text-align: left;
text-color: black;
font: bold 200%;
font-family: sans-serif;
}
a {
font: bold;
font-family: sans-serif;
}
p {
font-family: sans-serif;
}